@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
button {
  border: none;
  background-color: unset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.homepage-wrapper {
  display: flex;
  flex-direction: column;
}

.homepage-wrapper > .btn {
  margin: 0px 0px 2rem 0px;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  flex: 1 1 auto;
}

.title {
  padding-left: 2rem;
}

.collection {
  border: none;
}
.collection-item {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
}
.collection-item:not(:last-child) {
  margin: 0px 0px 0.5rem 0px;
}
.collection-item:last-child {
  border-bottom: 1px solid #e0e0e0;
}

.icon-avatar {
  font-size: 5rem;
}

.delete {
  cursor: pointer;
}

.btn-single-page {
  margin: 0.5rem 0px 0px 0px;
}
.contact-single-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addContact-wrapper {
  width: 100%;
}
.addContact-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn_nav {
  color: #fff;
  cursor: pointer;
}
.btn_nav-wrapper {
  cursor: pointer;
}
.btn_nav-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn_nav:focus {
  background: unset;
}
